.card-d {
  display: flex;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.card-d .card {
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px;
}

.card img {
  @extend .img-fluid;
  @extend .card-img-top;
  // display: flex;
  // flex: 1 0 0%;
  // flex-direction: column;
  // margin-left: 15px;
  // margin-bottom: 0;
  // margin-left: 15px;
}
